.container {
  width: 100%;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  height: 64px;
  background-color: #fff;
  font-family: futura-pt, sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
}

.release-wrap {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
}

.div-block-2 {
  height: 100%;
}

.release_2 {
  position: absolute;
  left: 39%;
  top: 52%;
  width: 200px;
  height: 200px;
  background-image: url('../images/020818_Cover.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.release {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 184px;
  height: 184px;
}

.release.release-1 {
  left: 15%;
  top: 15%;
  display: block;
  background-color: #000;
}

.release.release-2 {
  left: 28%;
  top: 33%;
  background-image: url('../images/voorjaar_preview.png');
  background-position: 0px 0px;
  background-size: cover;
}

.release.release-3 {
  left: 8%;
  top: 66%;
  display: block;
  background-color: #000;
  background-image: url('../images/detroit-acid-music.png');
  background-position: 0px 0px;
  background-size: cover;
}

.release.release-4 {
  left: 70%;
  top: 11%;
  display: block;
  background-image: url('../images/italoNordo_sehrklein.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.release.release-5 {
  left: 80%;
  top: 44%;
  display: block;
  background-color: transparent;
  background-image: url('../images/23MTS_Cover_extrasmall.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.release.release-6 {
  left: 9%;
  top: 15%;
  display: block;
  background-color: #000;
  background-image: url('../images/red_cover_web.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.release.release-7 {
  left: 57%;
  top: 63%;
  display: block;
  background-color: #000;
  background-image: url('../images/detroit-acid-music.png');
  background-position: 0px 0px;
  background-size: cover;
}

.release.release-7 {
  left: 57%;
  top: 51%;
  display: block;
  background-color: #000;
  background-image: url('../images/140_Cover_web.jpg');
}

.release.release-6-copy {
  left: 13%;
  top: 19%;
  display: block;
  background-color: #000;
  background-image: url('../images/red_cover_web.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.release.release-8 {
  left: 49%;
  top: 11%;
  display: block;
  background-color: #000;
  background-image: url('../images/00000008-Eine-neue-Kredenzung-web.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.release.release-9 {
  left: 39%;
  top: 71%;
  display: block;
  background-color: #000;
  background-image: url('../images/Tornado_Cover_1000.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.release_3 {
  position: absolute;
  left: 7%;
  top: 63%;
  width: 200px;
  height: 200px;
  background-image: url('../images/zweite.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.release_4 {
  position: absolute;
  left: 68%;
  top: 67%;
  width: 200px;
  height: 200px;
  background-image: url('../images/ttc_cover.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.release_5 {
  position: absolute;
  left: 74%;
  top: 16%;
  width: 200px;
  height: 200px;
  background-image: url('../images/totaly_cover.png');
  background-position: 0px 0px;
  background-size: cover;
}

.release-link {
  width: 100%;
  height: 100%;
}

.body-home {
  background-image: url('../images/institut_logo.svg');
  background-position: 50% 50%;
  background-size: 20%;
  background-repeat: no-repeat;
}

.nav-link {
  color: #000;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link.w--current {
  color: #000;
  text-decoration: underline;
}

.nav-link.nav-active {
  text-decoration: underline;
}

.kuenstler-wrap {
  position: fixed;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.kuenstler {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 32px;
  color: #000;
}

.kuenstler-text {
  width: 200vw;
  font-family: futura-pt, sans-serif;
  color: #000;
  font-size: 24px;
  font-weight: 700;
}

.link {
  color: #000;
  text-decoration: underline;
}

.nav-link-2 {
  color: #000;
}

.link-2 {
  color: #000;
  text-decoration: underline;
}

.link-3 {
  color: #000;
}

.link-4 {
  font-family: futura-pt, sans-serif;
  color: #000;
}

.link-5 {
  color: #000;
}

.link-6 {
  color: #000;
}

.kuenstler-text-block {
  width: 10000px;
  height: auto;
  font-family: futura-pt, sans-serif;
  color: #000;
  font-size: 32px;
}

.ueber-wrap {
  position: static;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: auto;
  margin-top: 128px;
  margin-bottom: 64px;
  padding-right: 24px;
  padding-left: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/Komp_2.gif');
  background-position: 50% 50%;
  background-size: 20%;
  background-repeat: no-repeat;
}

.text-block {
  width: 100%;
  max-width: 960px;
  margin-right: 0px;
  margin-bottom: 32px;
  margin-left: 0px;
  font-family: futura-pt, sans-serif;
  color: #000;
  font-size: 32px;
  line-height: 48px;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
}

.italic-text {
  font-weight: 400;
}

.impressum-link {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 16px;
  font-family: futura-pt, sans-serif;
  color: #000;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  text-decoration: underline;
}

.kontakt-wrapper {
  position: fixed;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.kontakt-link {
  width: 100vw;
  font-family: futura-pt, sans-serif;
  color: #000;
  font-size: 32px;
  font-style: italic;
  font-weight: 700;
  text-align: center;
}

.merch-wrapper {
  position: static;
  top: 0px;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.impressum {
  max-width: 960px;
  margin: 48px 24px 64px;
  font-family: futura-pt, sans-serif;
  color: #000;
  font-style: italic;
}

.impressum-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.italic-text-2 {
  font-size: 32px;
  font-weight: 700;
}

.augen-wrapper {
  position: fixed;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: underline;
}

.auge {
  width: 150px;
  height: 150px;
  margin-right: 25px;
  margin-left: 25px;
  border-radius: 50%;
  background-color: #000;
}

.pupille {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
}

.body-augen {
  background-color: #fff;
}

.dinglink {
  display: block;
  overflow: hidden;
  width: 400px;
  height: 400px;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  text-decoration: none;
}

.dinglink.ding2 {
  -webkit-transform: translate(90px, 0px);
  -ms-transform: translate(90px, 0px);
  transform: translate(90px, 0px);
}

.dinglink.ding1 {
  -webkit-transform: translate(-167px, 0px);
  -ms-transform: translate(-167px, 0px);
  transform: translate(-167px, 0px);
}

.image {
  width: 100%;
  height: 50%;
}

.div-block-3 {
  position: relative;
  overflow: hidden;
  width: 400px;
  height: 400px;
  padding-top: 0%;
  background-image: url('../images/IMG_20190926_181035.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-attachment: scroll;
  text-decoration: none;
}

.heading {
  position: absolute;
  width: 4000px;
  height: auto;
  margin-top: 100px;
  margin-bottom: 0px;
  padding-top: 0px;
  font-family: futura-pt, sans-serif;
  color: #fff;
  font-size: 150px;
  line-height: 150px;
  font-style: italic;
  font-weight: 700;
  text-decoration: none;
  text-transform: none;
}

.heading:hover {
  text-decoration: none;
}

.heading:active {
  text-decoration: none;
}

.heading:focus {
  text-decoration: none;
}

.div-block-4 {
  position: static;
  top: 152px;
  overflow: visible;
  width: 400px;
  height: 400px;
  background-image: url('../images/IMG_20190926_180153.jpg');
  background-position: 50% 100%;
  background-size: cover;
}

.div-block-5 {
  position: static;
  top: 152px;
  overflow: visible;
  width: 400px;
  height: 400px;
  background-image: url('../images/LebensblumenAppTeaser2.png');
  background-position: 50% 50%;
  background-size: cover;
}

.div-block-3-copy {
  position: relative;
  overflow: hidden;
  width: 400px;
  height: 400px;
  padding-top: 0%;
  background-image: url('../images/LebensblumenAppTeaser1.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
  text-decoration: none;
}

.div-block-6 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-7 {
  margin-top: 64px;
  margin-bottom: 64px;
  font-family: futura-pt-bold, sans-serif;
  color: #000;
  font-size: 40px;
  line-height: 56px;
  font-style: italic;
  text-align: center;
}

.link-8 {
  margin-top: 32px;
  margin-right: 32px;
  margin-left: 32px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: futura-pt, sans-serif;
  color: #000;
  font-size: 32px;
  font-style: italic;
  font-weight: 700;
}

.link-wrap {
  margin-top: 16px;
}

@media screen and (max-width: 991px) {
  .release-wrap {
    position: static;
    display: -ms-grid;
    display: grid;
    width: auto;
    margin: 48px 24px 100px;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .release.release-1 {
    position: relative;
    left: 0%;
    top: 0%;
  }

  .release.release-2 {
    position: relative;
    left: 0%;
    top: 0%;
  }

  .release.release-3 {
    position: relative;
    left: 0%;
    top: 0%;
  }

  .release.release-4 {
    position: relative;
    left: 0%;
    top: 0%;
    clear: none;
  }

  .release.release-5 {
    position: relative;
    left: 0%;
    top: 0%;
  }

  .release.release-6 {
    position: relative;
    left: 0%;
    top: 0%;
  }

  .release.release-7 {
    position: relative;
    left: 0%;
    top: 0%;
  }

  .release.release-7 {
    position: relative;
    left: 0%;
    top: 0%;
  }

  .release.release-6-copy {
    position: relative;
    left: 0%;
    top: 0%;
  }

  .release.release-8 {
    position: relative;
    left: 0%;
    top: 0%;
  }

  .release.release-9 {
    position: relative;
    left: 0%;
    top: 0%;
  }

  .body-home {
    background-size: 30%;
  }

  .ueber-wrap {
    background-size: 40%;
  }

  .text-block-2 {
    text-decoration: underline;
  }

  .dinglink.ding2 {
    -webkit-transform: translate(52px, 0px);
    -ms-transform: translate(52px, 0px);
    transform: translate(52px, 0px);
  }

  .dinglink.ding1 {
    -webkit-transform: translate(-110px, 0px);
    -ms-transform: translate(-110px, 0px);
    transform: translate(-110px, 0px);
  }

  .heading {
    display: none;
  }

  .div-block-4 {
    display: none;
  }

  .div-block-5 {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .release-wrap {
    height: 130vh;
  }

  .release {
    width: 35vw;
    height: 35vw;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .body-home {
    background-size: 40%;
  }

  .nav-link {
    background-color: #fff;
  }

  .ueber-wrap {
    display: block;
    margin-top: 32px;
  }

  .text-block {
    font-size: 24px;
    line-height: 36px;
    text-align: left;
  }

  .kontakt-link {
    font-size: 24px;
  }

  .text-block-2 {
    color: #000;
  }

  .menu-button.w--open {
    background-color: #fff;
    color: #000;
  }

  .dinglink.ding2 {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .dinglink.ding1 {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .link-8 {
    display: block;
    margin-left: 0px;
    font-size: 24px;
  }

  .link-wrap {
    display: block;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
}

@media screen and (max-width: 479px) {
  .nav-menu {
    background-color: #fff;
  }

  .navbar {
    background-color: #fff;
  }

  .release-wrap {
    height: 100vh;
    margin: 32px 16px 40px;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .div-block-2 {
    background-color: #fff;
    color: #000;
  }

  .body-home {
    background-size: 50%;
  }

  .nav-link {
    background-color: #fff;
  }

  .ueber-wrap {
    background-size: 60%;
  }

  .text-block-2 {
    background-color: #fff;
  }

  .menu-button {
    border-radius: 0px;
    background-color: #fff;
    color: #000;
  }

  .menu-button.w--open {
    background-color: #fff;
    color: #000;
  }

  .auge {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .dinglink.ding2 {
    width: 90vw;
    height: 90vw;
  }

  .dinglink.ding1 {
    width: 90vw;
    height: 90vw;
    margin-top: 30px;
  }

  .div-block-3 {
    width: 100%;
    height: 100%;
  }

  .div-block-3-copy {
    width: 100%;
    height: 100%;
    margin-bottom: 200px;
  }
}

@media screen and (max-width: 991px) {
  #w-node-bbaad30de301-343295e2 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-column-align: end;
    justify-self: end;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-f39588781038-343295e2 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-align: auto;
    align-self: auto;
  }

  #w-node-fded29488926-343295e2 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row-align: start;
    align-self: start;
    -ms-grid-column-align: end;
    justify-self: end;
  }

  #w-node-f4025034b097-343295e2 {
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-row-align: start;
    align-self: start;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-99e4f87768b3-343295e2 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
    -ms-grid-row-align: end;
    align-self: end;
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-937e4b95fbbc-343295e2 {
    -ms-grid-row-align: start;
    align-self: start;
    -ms-grid-column-align: start;
    justify-self: start;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }

  #w-node-55302682472c-343295e2 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-column-align: end;
    justify-self: end;
    -ms-grid-row-align: start;
    align-self: start;
  }
}

@media screen and (max-width: 767px) {
  #w-node-fded29488926-343295e2 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row-align: start;
    align-self: start;
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-55302682472c-343295e2 {
    -ms-grid-column-align: end;
    justify-self: end;
  }
}

@media screen and (max-width: 479px) {
  #w-node-bbaad30de301-343295e2 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
    -ms-grid-column-align: end;
    justify-self: end;
    -ms-grid-row-align: start;
    align-self: start;
  }

  #w-node-f39588781038-343295e2 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-align: end;
    justify-self: end;
    -ms-grid-row-align: end;
    align-self: end;
  }

  #w-node-fded29488926-343295e2 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row-align: end;
    align-self: end;
  }

  #w-node-99e4f87768b3-343295e2 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
    -ms-grid-row-align: start;
    align-self: start;
  }

  #w-node-937e4b95fbbc-343295e2 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-row: 3;
    grid-row-start: 3;
  }

  #w-node-55302682472c-343295e2 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

